.study {
  max-width: 1160px;
  margin: 0 auto;
  padding: 120px 40px;

  @include lg-tablet {
    padding: 120px 30px;
  }

  @include phone {
    padding: 120px 20px;
  }
  
  @import './tags';
  @import './slider';
}